<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='Display Images'"></head>

<body>

	<div th:replace="layout :: navbar">(navbar)</div>
		
		<!-- Author: John Murphy -->
		


<div class="container">


<div class="search-thumb">
<div class="table-responsive">
<table class="table">
<!-- <table> -->
 <tr th:each="object : ${images}">
      <td> <img th:src="@{${object.url}}"></img>
							</td>
<!--       <td th:text="${object.width}"></td>
      <td th:text="${object.height}"></td> -->
    <!--   <td th:text="${object.is_primary}"></td> -->
 <!--      <td th:text="${object.image_id}"></td> -->
      <td><a th:href="@{#{home.url}+'/object/'+${object.chObjectId}}" th:text="${object.chObjectId}"></a></td>                  
</tr>
</table>
</div>

</div>
</div>

</body>
</html>