<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="layout :: htmlhead" th:with="title='Display an Object'"></head>

<body>

	<div th:replace="layout :: navbar">(navbar)</div>
		
	<!-- Author: John Stevens -->

	<div class="container">
	
	
	<div class="row">
	
					
					<a href="#" th:href="@{'http://localhost:9080/homepage'}" class="btn btn-primary">Home Page</a>
	<!-- GAMIFICATION TABLE SECTION -->
			
		
	

  <h2>Gamification Points</h2>
  <table class="table table-striped">
  <thead>
	<tr>
	<th>Game Name</th>
	<th>Points</th>
	
	</tr>
  </thead>
  	<tr th:each="object : ${gametype}">
       <!--  <td th:text="${object.game_id}"></td>  -->
       <td th:text="${object.gamename}"></td>
       <td th:text="${object.gamepoints}"></td>
  
    </tr>
    </table>


	
 			
 			<!-- CENTERING HOME PAGE BUTTON -->

	</div>

	
	</div> <!-- end of container-fluid -->

</body>
</html>

